{{ ansible_managed | comment }}

fpath=("$HOME/.zfunctions" $fpath)

{# Install prompt #}
{%- if 'zsh_prompt_install' in user_options and user_options.zsh_prompt_install %}

autoload -U promptinit && promptinit
prompt {{ user_options.zsh_prompt_name | default(zsh_default_prompt_name) }}

{%- endif %}
{# Add custom lines #}
{%- if 'zsh_zshrc_content' in user_options and user_options.zsh_zshrc_content %}

{{ user_options.zsh_zshrc_content }}

{%- endif %}
